<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.back.backregister.Mapper.UserMapper">
    <insert id="add">
        insert into user (username,email,password) values (#{username},#{email},#{password})
    </insert>

    <select id="getByUserNameOrEmail" resultType="com.back.backregister.pojo.User">
        select * from user where username = #{username} or email = #{email}
    </select>
<!--    根据名字获取id-->
    <select id="getIdByUserName" resultType="java.lang.Integer">
        select user_id from user where username = #{username}
    </select>
<!--    根据username和password进行查询-->
    <select id="checkLogin" resultType="com.back.backregister.pojo.User">
        select * from user where username = #{username} and password = #{password}
    </select>
</mapper>